*{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: 'Fira Sans', sans-serif;
    
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    color: #F5F5F5;
    padding: 24px 0px 24px 0px;    
}

.bd-header{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;

}

.sign-in-button{
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;

}
/* hovar */
.sign-in-button:hover{
    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #efabab, #c53b3b);

}

/* First main banner */
.banner-tittle{
    color: #0E0E0E80;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    background-color: transparent;
    
}

.second-tittle{
    color: rgb(14, 14, 14);
    font-size: 57px;
    font-weight: 700;
    margin-bottom: 24px;
    width: 622px;
    background-color: transparent;
    
}
.top-image{
    background-color: transparent;
}

.btn-primary{
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    border: none;
    color: #FFFFFF;
    width: 270px;
    
}

.btn-primary:hover{
    cursor: pointer;
    transition: background-color 0.9s ease;
    background:linear-gradient(to right, #efabab, #c53b3b);
}

.banner-container{
    background-color: transparent;
}

body{
    max-width: 1280px;
    margin: auto;

}

.main-banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 59px;

}



/* Pillar style */
.pillar-head{
    display: flex;
    gap: 24px;
    margin-top: 18px;
    /* padding: 24px; */
    margin-bottom: 60px;
    align-items: center;    
}

.pillar-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 32px;
    
}
.structure{
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
    /* padding: 24px; */
    width: 302px;
   
    


}

.structure-tittle{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 25px;
    color: #0E0E0ECC;
    
}

.structure-description{
    width: 254px;
    height: 72px;
    color: #0E0E0EB3;
}


/* Vision style */

.vision-tittle{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.vision-description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    margin-bottom: 32px;
}


.main-vision-head{
    display: flex;
    justify-content: space-between;
}

.vision-container{
    padding: 32px;
    width: 410px;
    height: 325px;

}

.con-tittle{
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
}
.con-description{
    width: 346px;
    color: #0E0E0EB3;
    width: 346px;
    background-color: transparent;
}

/* button style */


.button-style-one{
    font-size: 16px;
    font-weight: 600;   
    color: #FFFFFF;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    border: none;
    background: #5490F5;
    margin-top: 24px;
    cursor: pointer;
    
}
.button-style-one:hover{
    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #efabab, #c53b3b);
}

.button-style-two{
    font-size: 16px;
    font-weight: 600;   
    color: #FFFFFF;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    border: none;
    background: #09A15C;
    margin-top: 48px;
    cursor: pointer;
    
}

.button-style-two:hover{
    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #efabab, #c53d3b);
}

.button-style-three{
    font-size: 16px;
    font-weight: 600;   
    color: #FFFFFF;
    border-radius: 8px;
    background: #FFC239;
    padding: 11px 20px 11px 20px;
    border: none;
    margin-top: 64px;
    cursor: pointer;
}
.button-style-three:hover{
    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #efabab, #c53d3b);
}

.vcon-one {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);

}
.vcon-two{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.vcon-three{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}



.con-img{
    background-color: transparent;
}

/* Dr Yunus  */

.title-des{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0ECC;
    background-color: transparent;
}
.Yunus-title{
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0ECC;
    margin-top: 12px;
    background-color: transparent;
}
.Yunus-des{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E99;
    margin-top: 4px;
    background-color: transparent;
}

.mini-banner{
    background: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-color: rgb(37, 33, 33); /* or any other color */
    background-color: transparent;


}

.Yunus-div{
    padding: 30px 24px 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);   
    margin-top: 32px; 
    background-color: transparent;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
    
}

/* Recent news */
.recent-news-tittle{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
    margin-top: 80px;
}

.recent-news-description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    margin-bottom: 32px;
    

}

.news-container{
    display: flex;
    justify-content:space-between;
    /* background: rgb(255, 255, 255); */
    padding: 48px;  
    align-items: center;
    gap: 32px;
    background-color: transparent;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 24px;
    
    
}
.nws-sub-container{
    /* background-color: transparent; */
    background-color: #FFFFFF;


}

.satelite-img{
    max-width: 100%;
    margin: auto;
    border-radius: 24px;
    /* background: rgb(255, 255, 255); */
}
/* shared style */

.nws-title{
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0ECC;
    margin-bottom: 12px;
    background-color: #FFFFFF;

    
}

.text-al{
    text-align: center;
}

.date-time{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    background-color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 12px;
}
.nws-description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    margin-bottom: 32px;
    width: 744px;
    background-color: #FFFFFF;
   
}

.sndbutton{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    cursor: pointer;
    
}

/* Havor effect */
.sndbutton:hover{
    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #efabab, #c53b3b);
}

.aljajera{
    background-color: #FFFFFF;


}


/* donate style started */
.donate-title{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    line-height: 48px;
    margin-bottom: 24px;
}

.donate-description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    width: 1104;
    margin-bottom: 32px;
}


.taka-container{
    display: flex;
    justify-content: space-around;
}

.taka-buttonn{
        font-size: 40px;
        font-weight: 700;
        color: #0E0E0ECC;
        border: 1px solid rgba(14, 14, 14, 0.15);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        padding: 40px;
        cursor: pointer;
}

.empty-button{
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    width: 1032px;
    height: 64px;
    border:none;
    display: flex;

    
    
}

.button-donate{
    display: flex;
    justify-content: center;
    
}

.donate-btn{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    cursor: pointer;

    
    
}
/* havor effect */
.donate-btn:hover{
    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #efabab, #c53b3b);
}

.center-container{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    
    
}
.subscribe-tittle{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    
    text-align: center;
    background-color: #C6E4D6;
    
}
.paragraph-des{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    width: 622px;
    height: 48px;
    text-align: center;
    background: #C6E4D6;
    margin-bottom: 24px;
    margin-top: 16px;
    
    
}

.email-sub{
    display: flex;
    justify-content: center;
    background: #C6E4D6;

}

.subscribe-buttn{

    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    border: none;
    margin-bottom: 15px;    
}
/* for havor */
.subscribe-buttn:hover{
    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #efabab, #c53b3b);
}




.email-box{
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    width: 600px;
    height: 55px;
    border: none;
    padding: 0px 40px 0px 40px;


}

.subscribe{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    background: #C6E4D6;
    margin-top: 80px;

}

.put-center{
    display: flex;
    justify-content: center;
    background: #C6E4D6;
   
}
.not-spam{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background: #C6E4D6;
   


}

.banl{
    font-size: 32px;
    font-weight: 700;
    margin-top: 130px;
    text-align: center;
    margin-bottom: 31px;

}
.mini-ico{
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-top: 32px;
    margin-bottom: 32px
    
    
}
/* .for-padding{
    
    

    
} */

/* for hover donate  */

.taka-buttonn:hover {
    background-color: #FFFFFF;
    border: none;
    padding: 40px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    background:#bce2d1;
}
/* }
.taka-buttonn:hover {
    background-color: #C6E4D6; 
} */

/* .havor-effect:hover{
    cursor: pointer;
    transition: background-color 0.9s ease;
    background-color: #C6E4D6; 
} */


/* shared havar */
.vcon-one:hover{

    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #7ea7dd, #ffdbdb);

}
.vcon-two:hover{

    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #b9eac0, #ffdcdc);

}
.vcon-three:hover{

    cursor: pointer;
    transition: background-color 0.4s ease;
    background:linear-gradient(to right, #e3ecaf, #ffd3d3);

}